    <div class="division">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
    <!--<col class="Collongname"></col>-->

      <thead>
        <tr>
            <th><{t}>参与活动名称<{/t}></th>
            <th><{t}>红包金额<{/t}></th>
            <th><{t}>红包抵扣金额<{/t}></th>
        </tr>
      </thead>
      <tbody>
      <{if $drawlist}>
      <tr>
          <td><{$drawlist.share_name}></td>
          <td><{$drawlist.practical_money|cur}></td>
          <td><{$drawlist.redpacket_pay|cur}></td>
      </tr>
      <{/if}>
      </tbody>
    </table>
    </div>
