<h3><{t}>Sitemap<{/t}></h3>
<div class="tableform">
	<h4 style="color:red;"><{t}>系统会自动生成链接,无需填写:导航页,商品详情页,商品列表页,品牌页,文章列表页,文章详情页<{/t}></h4>
	<h4><{t}>请将上述页面之外需要收录的链接填写即可,每行一个URL,参考示例:http://www.qyt1902.com<{/t}></h4>

	<form method="post" action="index.php?app=site&ctl=admin_sitemaps&act=postToBaidu">
		<div class="tableform tableform-tabs">
			<{input type="textarea" class="x-input" name="url" style="resize:none;" cols="100" rows="30"}>
			<div class="table-action">
				<button type="submit" class="btn btn-primary"><span><span>确定</span></span></button>
			</div>
		</div>
	</form>

</div>