<form method="POST" id='newschool-edit-form' action="index.php?app=b2c&ctl=admin_member_discuss&act=add_import" class="tableform" enctype="multipart/form-data">
    <div class="division">
        <table width="100%">
            <tr>
                <th><{t}>文件选择：<{/t}></th>
                <td><input name="file" type="file"/></td>
            </tr>
        </table>
    </div>
</form>
<div class="table-action"><{button type="submit" label=$___b2c="导入"|t:'b2c' id='newschool-edit-form-submit'}></div>
<script>
    (function () {
        var _form = $('newschool-edit-form');
        var btn = $('newschool-edit-form-submit');
        var finder = finderGroup['<{$env.get.finder_id}>'];
        btn.addEvent('click', function () {
            _form.fireEvent('submit', {stop: $empty});
            var _dialogIns = btn.getParent('.dialog').retrieve('instance');
            _dialogIns.close();
            finder.refresh.delay(400, finder);
        });
    })();
</script>