<!-- 会员中心主内容区 -->
<div class="page-article">
    <!-- 优惠券 -->
    <div id="member_coupon" class="member-coupon">
        <div class="member-title">
            <h2><{t}>红包活动<{/t}></h2>
        </div>

        <div class="member-mod">
            <table class="member-grid">
                <thead>
                <th><{t}>参与活动名称<{/t}></th>
                <th><{t}>领取金额<{/t}></th>
                <th><{t}>抵扣订单号<{/t}></th>
                <th><{t}>使用状态<{/t}></th>
                <th><{t}>使用时间<{/t}></th>
                <th><{t}>有效时间<{/t}></th>
                </thead>
                <tbody<{if !($browser.name=="IE" && ($brower.ver == 6 || $browser.ver == 7))}> class="first"<{/if}>>
                <{if $data}>
                <{foreach from=$data item=item}>
                <tr>
                    <td><{$item.share_name}></td>
                    <td><{$item.get_money|cur}></td>
                    <{if(!$item.order_id)}>
                    <td>--</td>
                    <{else}>
                    <td><{$item.order_id}></td>
                    <{/if}>
                    <{if $item.is_use}>
                    <td><span class="text-available">使用</span></td>
                    <{else}>
                    <td><span class="text-disabled">未使用</span></td>
                    <{/if}>
                    <{if(!empty($item.use_time))}>
                    <td>未使用<{$item.use_time|cdate:FDATE_STIME}></td>
                    <{else}>
                    <td></td>
                    <{/if}>
                    <td><{$item.valid_time|cdate:FDATE_STIME}></td>
                </tr>
                <{/foreach}>
                <{else}>
                <tr class="first"><td colspan="4" class="no-information"><{t}>暂无红包活动<{/t}></td></tr>
                <{/if}>
                </tbody>
            </table>
            <{pagers data=$pager}>
        </div>

    </div>
</div>
