<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="javascript:history.back()" class="a-back">
            <i class="arr left"></i>
            返回
        </a>
        <div class="a-name">
            我的红包
        </div>
    </div>
    </header>
    <div class="draw">
        <{if count($data)>0}>
        <{foreach from=$data item=item}>
        <div class="gb">
            <span>参与活动名称:<{$item.share_name}></span>
            <div class="d-line">
                <span class="l-k">领取金额：</span>
                <span class="l-v"><{$item.get_money|cur}></span>
                <span class="l-k">抵扣订单号：</span>
                <{if(!$item.order_id)}>
                <span class="l-v">--</span>
                <{else}>
                <span class="l-v"><{$item.order_id}></span>
                <{/if}>
                <span class="l-k">使用状态：</span>
                <{if $item.is_use}>
                <td><span class="l-v">使用</span></td>
                <{else}>
                <td><span class="l-v">未使用</span></td>
                <{/if}>
                <span class="l-k">使用时间：</span>
                <{if(!empty($item.use_time))}>
                <span class="l-v"><{$item.use_time|cdate:FDATE_STIME}></span>
                <{else}>
                <span class="l-v">未使用</span>
                <{/if}>
                <span class="l-k">有效时间：</span>
                <span class="l-v"><{$item.valid_time|cdate:FDATE_STIME}></span>
            </div>
        </div>
        <{/foreach}>
        <{else}>
          尚无任何红包活动
        <{/if}>
        <{pagers data=$pager}>
    </div>
</div>
