<form action="<{link app=b2c ctl=wap_share act=get_redpacket}>" method="post" id="get_form">
    <input type="hidden" name="share_member_id" value="<{$share_member_id}>"/>
    <input type="hidden" name="share_id" value="<{$share_id}>"/>
    <input type="hidden" name="order_id" value="<{$order_id}>"/>
    <input type="hidden" name="openid" value="<{$openid}>"/>
</form>

<div class="share_infor">
    <div class="share_coupons clearfix">
        <div class="sc_left"></div>
        <div class="sc_right">
            <{if $member}>
            已领取：<{$member.get_money}>元
            <{else}>
            <div class="get-redpacket">领取红包</div>
            <{/if}>
        </div>
    </div>
    <{if $member}>
    <div class="share_username clearfix">
        红包已发放至账户 <span style=" color: <{$share.m_color}> "><{$info.nickname}></span>
    </div>
    <{/if}>
</div>

<div class="share_friend" style="background: <{$share.l_color}>">
    <div class="share-title">
        <h3>看朋友们的手气如何</h3>
        <span class="share_tit_line" style="left: 0"></span>
        <span class="share_tit_line" style="right: 0;"></span>
    </div>
    <div class="share-scroll" style="<{if $height}>height: <{$height}>px;<{/if}>overflow: hidden;">
        <ul class="clearfix">
            <{foreach from=$list item=item}>
            <li class="sf-item clearfix">
                <div class="sf-img">
                    <img src="<{$item.info.imgurl}>">
                </div>

                <div class="sf-infor">
                    <div>
                        <strong><{$item.info.name}></strong>
                        <span><{$item.createtime|cdate:FDATE_STIME}></span>
                    </div>
                    <p><{$item.title}></p>
                </div>
                <div class="sf-amount"><{$item.get_money}>元</div>
            </li>
            <{/foreach}>
        </ul>
    </div>
</div>

<script>
    $('.get-redpacket').bind('click', function () {
        $('#get_form').submit();
    });
</script>

<{script src="jquery.min.js" app="wap" pdir="js_mini"}>
<{script src="scroll.js" app="wap" pdir="js"}>

<script>
    $(function () {
        $('.share-scroll').myScroll({
            speed: 40, //数值越大，速度越慢
            rowHeight: 80 //li的高度
        });
    });
</script>
